*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main_font: Roboto, Arial, sans-serif;
    --font_style2: Montserrat, Arial, sans-serif;
    --main_font_color: #686262;
    --lighter_black:#2e2b2b;
    --font_lt_grey:#bbb9b9;
    --black_font: #222020;
    --white_font: #ebe8e8;
    --completely_white:#f8f5f5;
}

header{
    margin-bottom: 35px;
}

a{
    text-decoration: none;
}

i{
    color: var(--lighter_black);
}

video{
    object-fit: contain;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: var(--black_font);
    text-decoration: none;
}                                                          

li{
    list-style: none;
}

img{
    object-fit: cover;
    display: block;
    max-width: 100%;
    border: none;
}

main section{
    margin-bottom: 35px;
}

.container{
    position: relative;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.btn_primary{
    display: inline-block;
    padding: 2px 27px;
    margin: 0 0.2em 0.2em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    background-color: #0f0e0e;
}

.btn_primary:hover{
    background-color: #353232;
}


.btn_secondary{
    display: inline-block;
    padding: 2px 27px;
    margin: 0 0.2em 0.2em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    background-color: var(--completely_white);
}

.btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}

.btn_secondary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--black_font);
    font-weight: 600;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    width: 100%;
    min-height: 450px;
}

.display_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_content-cstart{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.display_content h3, h4{
    font-family: var(--font_style2);
}

.display_content-cstart h3, h4{
    font-family: var(--font_style2);
}



/* a{
     display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
} */


/* Accessability Navbar */

#navbars #accessibility{
    background-color:rgb(235, 235, 235);
}

#navbars #accessibility ul {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px 10px 10px;
}

#navbars #accessibility ul li {
    margin-right: 20px;
}

#navbars #accessibility a {
    font-family: var(--main_font);
    color: var(--main_font_color);
    font-weight: 50;
}

#navbars #accessibility ul li a:hover {
    color: #353232;
}

#navbars #accessibility ul #location {
    margin-right: 12px;
}

#navbars #accessibility ul #flag img{
    height: 18px;
    width:18px;
    border-radius: 50%;
}

#navbars #accessibility ul #flag_li{
    margin-right: 5px;
}

#navbars #accessibility ul #loc_dropdown{
    margin-right: 6px;
}

#usr_icon{
    margin-right: 5px;
}

/* Main Navigation */

#navbars #main_nav_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 198, 198);
    padding: 10px;
}

#navbars #main_nav_container #header_logo{
    margin-left: 50px;
}

#navbars #main_nav_container #header_logo img{
    height: 53px;
    width: 53px;
}

#navbars #main_nav_container #gender_selection{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font_style2);
    font-size: 14px;
    margin-left: 70px;

}

#navbars #main_nav_container #gender_selection h3{
    font-weight: 700;
}
.womens{
    margin-right: 25px;
}

.mens{
    margin-left: 25px;
}

#main_nav{
    display: flex;
}

#navbars #main_nav_container #main_nav ul{
    display: flex;
    align-items: center;
}

#navbars #main_nav_container #main_nav ul li{
    margin-right: 36px;
}

#navbars #main_nav_container #main_nav ul i {
    font-size: 22px;
}

/* Header Slider */

#navbars #slider_container{
    font-family: var(--font_style2);
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 0.5px solid #e9e9e9;
}

#navbars #slider_container a{
    display: flex;
    justify-content: center;
}

#navbars #slider_container a i{
    color: var(--font_lt_grey);
    font-size: 20px;
}

#navbars #slider_container a #left{
    margin-right: 190px;
}

#navbars #slider_container a #right{
    margin-left: 190px;
}

#navbars #slider_container h3{
    color: var(--black_font);
    font-weight: 400;
    font-size: 13px;
    margin-top: 2px;
}

#navbars #slider_container h3:hover{
    color: var(--main_font_color);
}

/* Header Display */

#navbars #display_container #hero_container #display_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 72%;
    left: 42%;
}


#navbars #display_container #hero_container #display_content h3{
    text-transform: uppercase;
    font-family: var(--font_style2);
    font-size: 2.7rem;
    margin-bottom: 17px;
}

#navbars #display_container #hero_container #display_content h4{
    font-family: var(--font_style2);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#navbars #display_container #hero_container #display_content h3, h4{
    color: rgb(12, 12, 12)
}


/* #navbars #display_container #video_container #display_content .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
} */

#navbars #display_container #hero_container #display_content .btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}


/* Main Content */

#vital-content{
    margin-top: 32rem;
    margin-left: 14px;
}

#vital-content h3{
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 17px;
}

#vital-content h4{
    font-family: var(--font_style2);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}


#vital-content .btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}

/* #vital_rise{
    margin-bottom: 35px;
} */

/* Main Content "Family" */

#family-content{
    position: absolute;
    left: 4.4rem;
    top: 18.3rem;
}

#family-content h3{
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 17px;
    color: var(--completely_white);
} 

#family-content h4{
    font-family: var(--font_style2);
    color: var(--completely_white);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#family-content .btn-container .btn_secondary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--black_font);
    font-weight: 700;
}

#family{
    margin-bottom: 30px;
}

/* Shop Women-Men */

#shop_container{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: flex-start;
    padding: 0 4rem 0 4rem;
}

/* Women */
#shop-women{
    margin-right: 15px;
    height: 31.5rem;
}

#shop-women img{
    /* margin-top: 12rem; */
    margin-top: 155px;
    min-height: 100%;
    min-width: 100%;
    object-position: top;
}

#women-content{ 
    top: 13.3rem;
    left: 35.3rem;
    text-align: right;
}

#women-content h3{
    font-size: 2.1rem;
    text-transform: uppercase;
}

#women-content .btn-container a{
    margin-top: 13px;
    margin-left: 77px;
}

/* Men */

#shop-men{
    position: relative;
    height: 31.5rem;
}

#shop-men img{
    /* margin-top: 12rem; */
    margin-top: 155px;
    min-height: 100%;
    min-width: 100%;
    object-position: top;
}

#men-content{ 
    top: 13.3rem;
    left: 3.7rem;
    text-align: center;
}

#men-content h3{
    font-size: 2.1rem;
    text-transform: uppercase;
}

#men-content .btn-container a{
    margin-top: 12.8px;
}


/* options */

#options{
    background-color: var(--font_lt_grey);
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

#options div{
    height: 20rem;
    width: 39rem;
    /* border: 1px solid red; */
}

#klarna{
    background: url(https://cdn.shopify.com/s/files/1/0156/6146/files/Discount_image_3_720x.jpg) center center no-repeat;
    margin-left: 13px;
    margin-right: 17px;
}

#klarna::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index:10;
}
  

#student{
    background: url(https://cdn.shopify.com/s/files/1/0156/6146/files/Student_Discount_f2a013d7-be33-460f-8bcc-d5de2b94889d_720x.jpg?v=1621847703) center center no-repeat;
    margin-right: 17px;
}

#student::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index:10;
}

#afterpay{
    background: url(https://cdn.shopify.com/s/files/1/0156/6146/files/Discount_image_1_720x.jpg?v=1620818574);
    margin-right: 17px;
}

#afterpay::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index:10;
}



/* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; */