*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main_font: Roboto, Arial, sans-serif;
    --font_style2: Montserrat, Arial, sans-serif;
    --main_font_color: #686262;
    --lighter_black:#2e2b2b;
    --font_lt_grey:#bbb9b9;
    --black_font: #222020;
    --white_font: #ebe8e8;
    --completely_white:#f8f5f5;
}

header{
    margin-bottom: 35px;
}

a{
    text-decoration: none;
}

i{
    color: var(--lighter_black);
}

video{
    object-fit: contain;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: var(--black_font);
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    border: none;
}

.btn_primary{
    display: inline-block;
    padding: 2px 27px;
    margin: 0 0.2em 0.2em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
}

.btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    width: 100%;
    min-height: 450px;
}

.btn_primary{
    background-color: #0f0e0e;
}


.container{
    position: relative;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.display_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_content-cstart{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.display_content h3, h4{
    font-family: var(--font_style2);
}

.display_content-cstart h3, h4{
    font-family: var(--font_style2);
}



/* a{
     display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
} */


/* Accessability Navbar */

#navbars #accessibility{
    background-color:rgb(235, 235, 235);
}

#navbars #accessibility ul {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px 10px 10px;
}

#navbars #accessibility ul li {
    margin-right: 20px;
}

#navbars #accessibility a {
    font-family: var(--main_font);
    color: var(--main_font_color);
    font-weight: 50;
}

#navbars #accessibility ul li a:hover {
    color: #353232;
}

#navbars #accessibility ul #location {
    margin-right: 12px;
}

#navbars #accessibility ul #flag img{
    height: 18px;
    width:18px;
    border-radius: 50%;
}

#navbars #accessibility ul #flag_li{
    margin-right: 5px;
}

#navbars #accessibility ul #loc_dropdown{
    margin-right: 6px;
}

#usr_icon{
    margin-right: 5px;
}

/* Main Navigation */

#navbars #main_nav_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 198, 198);
    padding: 10px;
}

#navbars #main_nav_container #header_logo{
    margin-left: 50px;
}

#navbars #main_nav_container #header_logo img{
    height: 53px;
    width: 53px;
}

#navbars #main_nav_container #gender_selection{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font_style2);
    font-size: 14px;
    margin-left: 70px;

}

#navbars #main_nav_container #gender_selection h3{
    font-weight: 700;
}
.womens{
    margin-right: 25px;
}

.mens{
    margin-left: 25px;
}

#main_nav{
    display: flex;
}

#navbars #main_nav_container #main_nav ul{
    display: flex;
    align-items: center;
}

#navbars #main_nav_container #main_nav ul li{
    margin-right: 36px;
}

#navbars #main_nav_container #main_nav ul i {
    font-size: 22px;
}

/* Header Slider */

#navbars #slider_container{
    font-family: var(--font_style2);
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 0.5px solid #e9e9e9;
}

#navbars #slider_container a{
    display: flex;
    justify-content: center;
}

#navbars #slider_container a i{
    color: var(--font_lt_grey);
    font-size: 20px;
}

#navbars #slider_container a #left{
    margin-right: 190px;
}

#navbars #slider_container a #right{
    margin-left: 190px;
}

#navbars #slider_container h3{
    color: var(--black_font);
    font-weight: 400;
    font-size: 13px;
    margin-top: 2px;
}

#navbars #slider_container h3:hover{
    color: var(--main_font_color);
}

/* Header Display */

#navbars #display_container #hero_container #display_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 72%;
    left: 42%;
}


#navbars #display_container #hero_container #display_content h3{
    text-transform: uppercase;
    font-family: var(--font_style2);
    font-size: 2.7rem;
    margin-bottom: 17px;
}

#navbars #display_container #hero_container #display_content h4{
    font-family: var(--font_style2);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#navbars #display_container #hero_container #display_content h3, h4{
    color: rgb(12, 12, 12)
}


/* #navbars #display_container #video_container #display_content .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
} */

#navbars #display_container #hero_container #display_content .btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}


/* Main Content */

#vital-content{
    margin-top: 32rem;
    margin-left: 14px;
}

#vital-content h3{
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 17px;
}

#vital-content h4{
    font-family: var(--font_style2);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}


#vital-content .btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}

#vital_rise{
    margin-bottom: 35px;
}

/* Main Content "Family" */

#family-content{
    position: absolute;
    left: 0;
    top: 15rem;
}

#family-content h3{
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 17px;
    color: var(--completely_white);
} 

#family-content h4{
    font-family: var(--font_style2);
    color: var(--completely_white);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#family-content .btn-container .btn_primary h4{
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--font_style2);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 2px;
    color: var(--white_font);
    font-weight: 600;
}


/* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; */